.contentAction {
  flex-direction: row-reverse;
  color: #8c8c94;
  border-radius: 8px;
  background-color: inherit !important;
}

.contentAction:hover {
  background-color: #525067 !important;
  color: white;
}
.hiddenItem {
  visibility: hidden;
}

.contentAction:hover .hiddenItem {
  visibility: visible;
}

.contentAsset {
  flex-direction: row-reverse;
  background-color: #525067;
  color: #a6a5eb;
  border-radius: 8px;
}

.contentAsset:hover,
.contentAsset:global(.Mui-root),
.contentAsset:global(.Mui-selected) {
  background-color: #525067 !important;
}

.contentAsset:hover,
.contentAsset:global(.Mui-expanded) {
  color: white !important;
  background-color: #525067 !important;
}

.actionLabel {
  font-weight: inherit;
  text-transform: capitalize;
  flex-grow: 1;
  font-size: 0.9em;
  font-family: Inter, monospace;
}

.assetLabel {
  font-weight: inherit;
  text-transform: capitalize;
  flex-grow: 1;
  font-size: 1em;
  font-family: Inter, monospace;
}
