.sidebarItem {
  color: #a6a5eb;
}

.sidebarItem:disabled {
  color: #555454;
}

.sidebarItem:hover {
  color: white;
}

.toggleOnSidebarItem {
  color: white;
}

.sidebarItemCancel {
  color: #D23F2F;
}

.sidebarItemCancel:disabled {
  color: #555454;
}

.sidebarItemCancel:hover {
  color: white;
}

.toggleOnSidebarItemCancel {
  color: white;
}